  /*==========================================  ==========================================*/
  /*========================================== Header / Navbar ==========================================*/
  /*==========================================  ==========================================*/
  #header{
    /*width: max-content;*/
    width: 100%;
    position: fixed;
    color: var(--Colour-200);
    /*background-image: url(images/Background1.png);*/
    background-size: cover;
    background-position: center;
    z-index: 999;   
  }

  a{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon{
    font-size: 24px;
  }
  .logo{
    height: 42px;
    padding: 3px;
    border-radius: 10px;
    border: 3px solid var(--Colour-800);
    animation: orbit 2.7s linear infinite;
  }

  .navbar {
    overflow: hidden;    
    background-color: var(--Colour-900);
    border-radius: 10px;
    display: block;
    
  }

 
  .navbar a {
    float: left;
    color:  inherit;
    font-size: 18px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 2px solid;    
    border-color: transparent;
    border-radius: 10px;
    transition: 1.5s;
  }

 

  @keyframes slide-right{
    0%{
        /*width: 50%;*/
        left: 15%;
    }
    100%{
        /*width: 100%;*/
        left: 90%;
    }
  }

  @keyframes slide-left{
    0%{
        /*width: 50%;*/
        left: 90%;
    }
    100%{
        /*width: 100%;*/
        left: 15%;
    }
  }

  .nav-links {
    overflow: hidden;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  .start{
    animation-name: slide-left;
    animation-duration: 1s;
    left: 15%;
  }

  .active{
    animation-name: slide-left;
    animation-duration: 1s;
    left: 15%;
  }

  .inactive{
    animation-name: slide-right;
    animation-duration: 1s;
    left: 90%;
  }

  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 18px;   
    border: 2px solid;  
    border-color: transparent;  
    border-radius: 10px;
    outline: none;
    padding: 14px 16px;
    color: inherit;
    background-color: inherit;
    font-family: inherit;
    transition: 1s;
  }
  .dropdown .dropbtn::after{
    content: '🏖️';
    content: '▼';
    transition: 0.5s;
  }

  .dropdown:hover .dropbtn::after{
    content: '▲';
    transition: 2.5s;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {   
    background-color: var(--Colour-700);
    color: var(--Colour-200);     
    border-color: none;  /*var(--Colour-200);*/
    
    /*font-size: 19px;*/
    /*transform: scale(1.1,1.1);
    transform: translateY(-1px);*/
    transform: translateX(3px);
    transform: translateY(-3px);
    transition: 0.5s;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:transparent;
    
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px var(--ColourShadow);*/
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    background-color:var(--Colour-200);

    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {       
    background-color: var(--Colour-700);
    transition: 1s;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    transition: 1s;
  }

