/*==========================================  ==========================================*/
/*========================================== Sandbox: Astar ==========================================*/
/*==========================================  ==========================================*/
#Astar_container{
  grid-column: 1 / -1;
  display: flex;
  gap: 10px;
  height: 800px;
  justify-content: center;   /* Horizontally centers the child element */
  align-items: center; 
}
#Astar_grid {  
  --grid_Size: 21;
  height: 75%;
  width: 50%;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(var(--grid_Size),1fr);
  grid-template-rows: repeat(var(--grid_Size),1fr); 
  border-radius: 3px; 
  background-color: var(--Colour-800);
  border: 2px solid var(--Colour-800);
  
  gap: 2px;
}

#grid_Size{
  text-align: center;
}

#Astar_menu{
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}

#Astar_grid.fun{
  /*--grid_Size: 21;*/
  grid-template-columns: 1fr 2fr 4fr 6fr 8fr 10fr 12fr 14fr 16fr 18fr 20fr 18fr 16fr 14fr 12fr 10fr 8fr 6fr 4fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 4fr 6fr 8fr 10fr 12fr 14fr 16fr 18fr 20fr 18fr 16fr 14fr 12fr 10fr 8fr 6fr 4fr 2fr 1fr;
}


#Astar_menu button{
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  color: var(--Colour-200);
  background-color:var(--Colour-900);
  transition: 1s;
}

#Astar_menu button:hover{transform: translateY(-3px);
  background-color: var(--Colour-950);
  transition: 0.5s;
}


#slider{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 10px;
}



#info{
  position: fixed;
  display: none;
  background-color: var(--Colour-950);
  bottom: 1%;
  left: 1%;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 3px solid var(--Colour-200);
  transition: opacity 0.5s ease-in;
}
.selected{
  box-shadow: 0px 0px 3px 3px var(--Colour-800) !important;
}

#legend{
  background-color: var(--Colour-950);
  display: grid;
  grid-template-columns: repeat(4,1fr) ;
  border-radius: 10px;
}

.legend-item{
  color: inherit;
  width: 20px;
  height: 20px;
  margin: 10px;
}

.legend-label{
  margin: 10px;
}

.Astar_cell{
  background-color: var(--Colour-300);
  border-radius: 3px;
  /**/transition: 1s;/**/

}
#start{
  background-color: rgb(35, 192, 61) !important;
  overflow: auto;
  resize: both;
}

#goal{
  background-color: rgb(197, 45, 184) !important;
  overflow: auto;
  resize: both;
}

.Astar_cell.path{
  background-color: rgb(17, 80, 1) !important;
}

.Astar_cell.visited{
  background-color: orangered;
  
  
}

.Astar_cell.obstacle{
  background-color: brown !important;
 
  box-shadow: -2px -2px 2px 2px inset black;
}

.Astar_cell.current{
  background-color: rgb(65, 42, 165) !important;
  
  /*transition: 1s;/**/
}

.Astar_cell.open{
  background-color: yellow;  
}

