<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <link rel="stylesheet" href="style.css">
    <script src="/scripts/Header.js" type="text/javascript" defer> </script>
</head>
<body>
    <div id="content">
        <div class="title">Me</div>
        <div class="content-project" style="grid-column: 1 / -1;">
            <div class="content-project-title" style="cursor: default;"><h2> Daniel Hoffmann </h2></div>
            <div class="content-project-canvas" style="display: grid;">
                <div class="content-slider" style="cursor: default;">                    
                    <img src="/images/Me2.png" style="cursor: default;">
                    <!--<img src="/images/Me1.png" style="opacity: 0.42;"> -->
                </div>
            </div>
            <p>  
                <b>> Past:</b>
                • &emsp; I was born in Chile and hold Spanish, German, and Chilean nationalities. I also have UK Settled status.<br>
                • &emsp; I've lived in Chile, France, Switzerland, and the United Kingdom so far, 
                which has given me the opportunity to experience different cultures and learn new languages.<br>
                • &emsp; Speaking of languages, I can fluently communicate in Spanish, German, French, and English.<br>
                • &emsp; I've obtained a German Abitur and a French Baccalaureat, 
                I completed a Bachelor's in Artificial Intelligence and recently a Master's degrees in Intelligent Systems.<br>
                <br>
                <b>> Present:</b> 
                Graduated the Intelligent Systems Master's program at De Montfort University. 
                I'm currently on the lookout for job opportunities and working on personal projects, such as this webpage you're currently visiting. <br>
                <br>
                <b>> Future:</b> 
                Error: Source inaccessible... <br>
                Jokes aside, while the future is always uncertain, 
                I'm excited to see where my career in the field of Intelligent Systems and Artificial Intelligence takes me. 
                I'm eager to continue learning and growing in this ever-evolving field, and I look forward to the challenges and opportunities that lie ahead.

                <br> <br>

            </p>   
            
        </div>
    </div>
    
</body>
</html>