<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <link rel="stylesheet" href="style2.css">
    <script src="/scripts/Header.js" type="text/javascript" defer> </script>
</head>
<body>
    <div id="content">
        <div class="title">Me</div>
        <div class="content-project">
            <div class="content-project-title"> <h2> Daniel Hoffmann </h2></div>
            <div class="content-project-canvas">
                <div class="content-slider">                    
                    <img src="/images/MOO - Copy.png">                                    
                </div>
            </div>
            <p>  
                ><b><u> Past:</u></b> <br>
                <br>
                - Born in Chile <br>
                - Spanish, German, and Chilean Nationalities ( + UK Settled status)<br>
                - Lived in Chile, France, Switzerland, and United Kingdom so far<br>
                - Speak Spanish, German, French, and English<br>
                - German Abitur + French Baccalaureat<br>
                - Artificial Intelligence BSc (Intelligent Systems)<br>
                - Intelligent Systems MSc<br>
                <br>
                ><b><u> Present:</u></b> <br>
                <br>
                I am a recent graduate in Intelligent Systems Masters at De Montfort University. 
                Looking for jobs and working on personal project like this webpage! <br>
                <br>
                ><b><u> Future:</u></b> <br>
                Error: Source inaccessible
                <br>

            </p>
            
        </div>
    </div>
    
    
    
</body>
</html>