<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT</title>
    <link rel="stylesheet" href="style.css">
    <script src="/scripts/Header.js" type="text/javascript" defer> </script>
</head>
<body>
    <div id="content"> 
        <div class="title">Contact</div> 
        <div id="content-contact">
            <h2 class="contact-title">Get in Touch</h2>
            <p >
                <b>- Email:</b> Daniel.Hoffmann.Anton@gmail.com <br>                
                <b>- Phone:</b> +44 7738634498    
            </p>
            <form class="contact-form" action="https://formsubmit.co/Daniel.Hoffmann.Anton@gmail.com" method="POST">
                <input type="hidden" name="_subject" value="New Contact!">
                <input type="text" name="name" placeholder="Name" required />
                <input type="email" name="email" placeholder="Email" required />
                <textarea name="message" placeholder="Message" required></textarea>
                <button type="submit">Send Message</button>
            </form>
        </div>
    </div>
    
</body>
</html>