<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="style2.css">
    <script src="/scripts/Header.js" type="text/javascript" defer> </script>
</head>
<body>
    <div id="content">
        <div class="title">INFO</div>

        <div class="content-text"> Welcome to my webpage! 
            <br> This is my first project that I am working on after finishing my master's degree in Intelligent Systems (Computer Sciences, Robotics, and AI)
            <br> The goal of this is to:
            <br> -  Have my personal webpage 
            <br> -  Learn how to build a webpage from scratch using HTML, CSS, and JavaScript
            <br> -  Have a porfolio for my job hunting but also just in general
            <br>
            <br> You can see some projects I have worked on in the               
            <a href="/view/projects.html" style="color:rgb(255, 228, 225);"> my projects section</a>
            or in
            <a href="https://github.com/HoffDaniel?tab=repositories" style="color:rgb(255, 228, 225);"> my github</a>
       
        </div>
    </div>
</div>
    <h1>END</h1>
    
</body>
</html>