<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="style2.css">
    <script src="/scripts/Header.js" type="text/javascript" defer> </script>
</head>
<body>
    
    <div id="content">
        <div class="title">INFO</div>
        <div class="content-project active" style="grid-template-areas: 'title title' 'text text';">
            <div class="content-project-title" style="scale: 1;"> <h2> Welcome to my personal webpage! </h2></div>
            <p>  
                <br>
                As a recent graduate with a Master's degree in Intelligent Systems, I'm excited to showcase my skills and experience in the fields of Computer Science, Robotics, and AI. <br>
                This webpage is a project that I've been working on to learn and practice building a webpage from scratch using HTML, CSS, and JavaScript. <br>
                It also serves as a portfolio for my job hunting, as well as a place to share my interests and experiences. <br> 
                <br>
                I will be continously adding and updating the webpage. In the meantime, feel free to explore my                 
                <a href="/view/projects.html" >| Projects |</a> section to see some of the work I've done in the past, <br>
                or visit my
                <a href="https://github.com/HoffDaniel?tab=repositories">GitHub</a> to view my code and repositories.<br>
                <br>
                Thank you for visiting my page, and please don't hesitate to get in touch if you have any questions or would like to discuss potential collaboration opportunities.
                <br><br>
            </p>
        </div>
    </div>
 
</div>
    
</body>
</html>