<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="style2.css">
    <script src="/scripts/Header.js" type="text/javascript" defer> </script>
</head>
<body>
    <div id="content">
        <div class="title">Portfolio</div>
        <div class="content-project">
            <div class="content-project-title">MSc Final Project</div>
            <a href="#"><img src="/designs/Projects_MSc_1.png"></a>
            <p> 
                Check this out! <br>
                Check this out! <br>
                Check this out! <br>
                Check this out! <br>
                Check this out! <br>
                Check this out! <br>
                Check this out! <br>
                Check this out! <br>
                Check this out! <br>
                Check this out! <br>
                Check this out! <br>
                Check this out! <br>
                Check this out! <br>
                Check this out! <br>
                Check this out! <br>
            </p>
        </div>
        <div class="content-project">
            <div class="content-project-title">MSc Final Project</div>
            
            <p> 
                Check this out!
            </p>
            <a href="#"><img src="/designs/Projects_MSc_1.png"></a>
        </div>
        <div class="content-project">
            <div class="content-project-title">MSc Final Project</div>
            <a href="#"><img src="/designs/Projects_MSc_1.png"></a>
            <p> 
                Check this out!
            </p>
        </div>

        
        
        
    </div>
 
</div>
    
</body>
</html>