<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="style2.css">
    <script src="/scripts/Header.js" type="text/javascript" defer> </script>
</head>
<body>
    <div id="content">        
        <div class="title">Portfolio</div>
        <div class="content-project">
            <div class="content-project-title" onclick="hideContentProject(event)"> 
                <h2>My Web App</h2></div>
            <div class="content-project-canvas">
                <div class="content-slider">                    
                    <img src="/images/Project_MyWebApp/WebCeption2.png">
                    <img src="/images/Project_MyWebApp/WebCeption.png">                  
                </div>
            </div>
            
                
            <p> 
                (Personal Project)<br><br>
                This webpage: <br><br>
                - Personal<br><br>
                - Portfolio<br><br>                
                - Sandbox<br><br>

                <a href="https://github.com/HoffDaniel/MyWebApp">  > See github</a>
            </p>
        </div>
        <div class="content-project">
            <div class="content-project-title" onclick="hideContentProject(event)"> 
                <h2>Mobile Robots</h2></div>
            <div class="content-project-canvas">
                <div class="content-slider">
                                 
                    <img src="/images/Project_Mobile_Robots/Map_workingish_5.PNG">
                    <img src="/images/Project_Mobile_Robots/theEND_s0125.PNG">                    
                    <img src="/images/Project_Mobile_Robots/AStar_halfWorking.png">
                    <img src="/images/Project_Mobile_Robots/MobileRobots_cwMain_FSM.png">
                    <img src="/images/Project_Mobile_Robots/aStar_4.PNG">
                    <img src="/images/Project_Mobile_Robots/aStar_6_s025.PNG">
                    <img src="/images/Project_Mobile_Robots/aStar_working.PNG">
                    <img src="/images/Project_Mobile_Robots/experiments2.PNG">
                    <img src="/images/Project_Mobile_Robots/Map_1.png">                                    
                </div>
                
                
            </div>
                
            <p> 
                (University)<br><br>
                Programming of a mobile robot (pioneer 3D-X) in Coppeliasim (V-Rep) using lua. 
                <br><br><br><br>
                The robot had to complete several tasks:<br><br>
                - task 1: the robot must find the middle of the starting room and exit
                <br><br>
                - task 2: the robot must find the beacon
                <br><br>
                - task 3: the robot must map the environment to a certain degree
                <br><br>
                - task 4: the robot must return to the centre of the starting room
                <br><br><br><br>
                The robot uses ultrasonic proximity sensors to avoid obstacles and to map the environment on an occupancy grid. 
                The robot can use A* (A star) pathfinding to get to a specific point on the mapped environment and 
                uses a PID controller to keep inline with the path or to follow walls. 
                <br><br>
                <a href="https://github.com/HoffDaniel/Mobile_Robots_MSc">  > See github</a>
            </p>
        </div>
        <div class="content-project">
            <div class="content-project-title" onclick="hideContentProject(event)"> 
                <h2>Development of a management system for visualisation, exploration, and comparison of Nature-inspired optimisation algorithms</h2></div>       
            
            <div class="content-project-canvas">
                <div class="content-slider">
                    <img src="/images/Project_Final_MSc/Projects_MSc_1.png">
                    <img src="/images/Project_Final_MSc/Projects_MSc_2.png">
                    <img src="/images/Project_Final_MSc/Class Diagram 4 .png">
                    <img src="/images/Project_Final_MSc/Requirement Diagram 5.png">
                    <img src="/images/Project_Final_MSc/Use Case Diagram 2.png">
                                     
                </div>
            </div>
            <p> 
                (University Project)<br><br>
                Intelligent Systems Masters Final Project.
                <br><br>
                The idea: to provide an application which helps to better understand certain algorithms by simultaneously visualising two or more algorithms at the same time as they progress through the problems search space, 
                and also providing an UI to manipulate parameters while the algorithms are running. 
                An object oriented approach was carried out to be able to quickly add new problems and algorithms
                to the system as there is a vast number of nature inspired algorithms and optimisation problems (which is constantly increasing).
                <br><br>
                Optimisation Problems implemented:
                <br><br>
                -   Travelling Salesman Problem (TSP)
                <br><br>
                Algorithms implemented:
                <br><br>        
                -   Genetic Algorithm (GA)
                <br><br><br>
                To be continued 
                <br><br>
                <br>                
                <a href="https://github.com/HoffDaniel/MSc_Final_Project" > > See github</a>
            </p>
        </div>
        <div class="content-project">
            <div class="content-project-title" onclick="hideContentProject(event)"> 
                <h2>University Room Management System<h2></div>
            <div class="content-project-canvas">
                <div class="content-slider">
                    <img src="/images/Project_Final_BSc/Web_App_AllRooms.PNG">
                    <img src="/images/Project_Final_BSc/Web_App_Booking.PNG">
                    <img src="/images/Project_Final_BSc/Web_App_Login.PNG">
                    <img src="/images/Project_Final_BSc/Web_App_Logout.PNG">
                    <img src="/images/Project_Final_BSc/Web_App_MyBookings.PNG">
                    <img src="/images/Project_Final_BSc/Web_App_Registration.PNG">
                    <img src="/images/Project_Final_BSc/Web_App_SearchRooms.PNG">
                </div>
            </div>
                
            <p> 
                (University Project)<br><br>
                This was my BSc final year development project. It was the first time developing a web application and I used: 
                HTML, CSS, JavaScript, Node.js, Express.js,and MySQL/SQL,
                The idea was to create an application from which one can book rooms. Additionally the 
                application would analyse the bookings and try to block certain rooms from being bookable 
                to try and space out crowds. Ideally this would reduce the spread of covid and alikes. 
                Alas this feature is yet to be implemented, it is on my list for future projects.
                <br>
                <br>
                <a href="https://github.com/HoffDaniel/Uni_RoomBooking_ExpressApp1">  > See github</a>
            </p>
        </div>
    </div>
    
</body>
<script src="/scripts/Content-Slider.js"></script>
</html>