<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/c125ed2f4e.js" crossorigin="anonymous"></script>
    <script src="/scripts/Header.js" type="text/javascript" defer> </script>
</head>
<body>
    <div id="content">        
        <div class="title">Portfolio</div>
        <div class="content-project active">
            <div class="content-project-title" onclick="hideContentProject(event)"> 
                <h2>My Web App</h2>
            </div>
            <div class="content-project-canvas">
                <div class="content-slider"> 
                    <img src="/resources/Project_MyWebApp/canvas/WebCeption4.png">                   
                    <img src="/resources/Project_MyWebApp/canvas/WebCeption3.png">
                    <img src="/resources/Project_MyWebApp/canvas/WebCeption2.png">
                    <img src="/resources/Project_MyWebApp/canvas/WebCeption.png">                  
                </div>
                
            </div>
            
                
            <p> 
                <b>Personal Project</b>
                Ongoing project developing my personal webpage:<br><br>
                <span>• &emsp; To present my background, interests, and experiences</span>
                <span>• &emsp; To showcase my skills and to have a space where I can display some of my projects</span>
                <span>• &emsp; To play around in the Sandbox, my experimental space where you can find a variety of in-progress works, 
                    creative ideas, and more...</span> 

                <a class="content-link" href="https://github.com/HoffDaniel/MyWebApp">
                    GitHub &nbsp;
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>   
                </a>
            </p>
        </div>
        <div class="content-project">
            <div class="content-project-title" onclick="hideContentProject(event)"> 
                <h2>Mobile Robots</h2>
            </div>
            <div class="content-project-canvas">
                <div class="content-slider">
                                 
                    <img src="/resources/Project_Mobile_Robots/canvas/Map_workingish_5.PNG">
                    <img src="/resources/Project_Mobile_Robots/canvas/theEND_s0125.PNG">                    
                    <img src="/resources/Project_Mobile_Robots/canvas/AStar_halfWorking.png">
                    <img src="/resources/Project_Mobile_Robots/canvas/MobileRobots_cwMain_FSM.png">
                    <img src="/resources/Project_Mobile_Robots/canvas/aStar_4.PNG">
                    <img src="/resources/Project_Mobile_Robots/canvas/aStar_6_s025.PNG">
                    <img src="/resources/Project_Mobile_Robots/canvas/aStar_working.PNG">
                    <img src="/resources/Project_Mobile_Robots/canvas/experiments2.PNG">
                    <img src="/resources/Project_Mobile_Robots/canvas/Map_1.png">                                    
                </div>
            
            </div>
                
            <p> 
                <b>University Project</b>
                Programming of a mobile robot (pioneer 3D-X) in Coppeliasim (V-Rep) using lua. 
                <br><br>
                The robot had to complete several tasks:
                <span>• &emsp;  task 1: find the middle of the starting room and exit</span>
                <span>• &emsp;  task 2: find the beacon</span>
                <span>• &emsp;  task 3: map the environment to a certain degree</span>
                <span>• &emsp;  task 4: return to the centre of the starting room</span>
                <br><br>
                In the end the robot the robot has a Finite State Machine (FSM) to make sure that the tasks are completed. It uses ultrasonic proximity sensors to avoid obstacles and to map the environment on an occupancy grid. 
                The robot can use A* (A star) pathfinding to get to a specific point on the mapped environment and 
                uses a PID controller to keep inline with the path or to follow walls. 
                <br><br>
                <a class="content-link" href="https://github.com/HoffDaniel/Mobile_Robots_MSc">
                    GitHub &nbsp;
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>   
                </a>
            </p>
        </div>
        <div class="content-project">
            <div class="content-project-title" onclick="hideContentProject(event)"> 
                <h2>Tool for visualisation, exploration, and comparison of Nature-inspired optimisation algorithms</h2>
            </div>     
            <div class="content-project-canvas">
                <div class="content-slider">
                    <img src="/resources/Project_Final_MSc/canvas/Projects_MSc_1.png">
                    <img src="/resources/Project_Final_MSc/canvas/Projects_MSc_2.png">
                    <img src="/resources/Project_Final_MSc/canvas/Class Diagram 4 .png">
                    <img src="/resources/Project_Final_MSc/canvas/Requirement Diagram 5.png">
                    <img src="/resources/Project_Final_MSc/canvas/Use Case Diagram 2.png">
                                   
                </div>
            </div>
            <p> 
                <b>University Project</b>
                Intelligent Systems Masters Final Project.
                <br><br>
                The idea: to provide an application which helps to better understand certain algorithms by simultaneously visualising two or more algorithms at the same time as they progress through the problems search space, 
                and also providing an UI to manipulate parameters while the algorithms are running. 
                An object oriented approach was carried out to be able to quickly add new problems and algorithms
                to the system as there is a vast number of nature inspired algorithms and optimisation problems (which is constantly increasing).
                <br><br>
                Optimisation Problems implemented:
                <br><br>
                -   Travelling Salesman Problem (TSP)
                <br><br>
                Algorithms implemented:
                <br><br>        
                -   Genetic Algorithm (GA)
                <br><br>
                To be continued... 
                <br><br>            
                <a class="content-link" href="https://github.com/HoffDaniel/MSc_Final_Project">
                    GitHub &nbsp;
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>   
                </a>
            </p>
        </div>
        <div class="content-project">
            <div class="content-project-title" onclick="hideContentProject(event)"> 
                <h2>University Room Management System<h2>
            </div>
            <div class="content-project-canvas">
                <div class="content-slider">
                    <img src="/resources/Project_Final_BSc/canvas/Web_App_AllRooms.PNG">
                    <img src="/resources/Project_Final_BSc/canvas/Web_App_Booking.PNG">
                    <img src="/resources/Project_Final_BSc/canvas/Web_App_Login.PNG">
                    <img src="/resources/Project_Final_BSc/canvas/Web_App_Logout.PNG">
                    <img src="/resources/Project_Final_BSc/canvas/Web_App_MyBookings.PNG">
                    <img src="/resources/Project_Final_BSc/canvas/Web_App_Registration.PNG">
                    <img src="/resources/Project_Final_BSc/canvas/Web_App_SearchRooms.PNG">

                </div>                
            </div>
                
            <p> 
                <b>University Project</b>
                <span>This was my BSc final year development project. It was the first time developing a web application and I used: 
                HTML, CSS, JavaScript, Node.js, Express.js, and MySQL/SQL.</span> 
                <span> idea was to create an application from which users can book rooms and it would have 
                a system which determines which rooms can be booked after carefully analysing the data on their usage.
                Ideally this would reduce the spread of diseases by spacing bookable rooms and 
                minimizing the frequent use of a specific room.</span>  
                This feature is still a work in progress, it is on my list for future projects.
                <br>
                <br>
                <a class="content-link" href="https://github.com/HoffDaniel/Uni_RoomBooking_ExpressApp1">
                    GitHub &nbsp;
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>   
                </a>
            </p>
        </div>
        <div class="content-project">
            <div class="content-project-title" onclick="hideContentProject(event)"> 
                <h2>More<h2></div>
            <div class="content-project-canvas">
                <div class="content-slider">
                    <img src="/resources/images/MOO - Copy.png">                         
                    <img src="/resources/images/MOO - Copy.png">       
                    <img src="/resources/images/MOO - Copy.png">                  
                </div>                
            </div>                
            <p> 
               More to come...                <br>                <br>       
                <a class="content-link" href="https://github.com/HoffDaniel">
                    GitHub &nbsp;
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>   
                </a>
            </p>
        </div>              
    </div>
    
</body>
<script src="/scripts/Content-Slider.js"></script>
</html>