<!-- Playing around with chatgpt-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden Spiral</title>
    <link rel="stylesheet" href="style.css">
    <script src="/scripts/Header.js" type="text/javascript" defer> </script>
    

    
</head>
<body>
    <div id="content">
        <div class="title">Golden <br> Spiral </div>
        <div class="sand-golden">
            <div class="item a" id="item-a" >
                <div class="item H top"></div>                
                <div class="item H bot"></div>
            </div>
            <div class="item b" id="item-b"></div>
            <div class="item c" id="item-c"></div>
            <div class="item d" id="item-d"></div>
            <div class="item e" id="item-e"></div>
            <div class="item f" id="item-f"></div>
            <div class="item g" id="item-g"></div>
        </div>
    </div>
</body>
<script src="/scripts/Sand_Golden.js"></script>
</html>
