<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAND 2</title>
    <link rel="stylesheet" href="style.css">
    <script src="/scripts/Header.js" type="text/javascript" defer> </script>
    <audio id="sand-sound" src="../resources/sounds/spa_sand_sand_pour_08_trimmed.mp3"></audio>
    <audio id="sand-sound-reversed" src="../resources/sounds/spa_sand_sand_pour_08_trimmed_reversed.mp3"></audio>
</head>
<body>
    <canvas id="sand-canvas"></canvas>    
    <script src="/scripts/Sand2.js"></script>    
</body>
</html>